<div class="container">
  <div class="row">
    <div class="col-2">
      Culture: 
    </div>
    <div class="col-4">
      <span>{{ crop }}</span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      Saison: 
    </div>
    <div class="col-4">
      <span>{{ season }}</span>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-2">
      Zone:
    </div>
    <div class="col-4">
      <select class="form-control" [(ngModel)]="zone">
        <option *ngFor="let zoneObj of zones" [ngValue]="zoneObj">{{zoneObj.name}}</option>
      </select>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-2">
      Surface:
    </div>
    <div class="col-4">
      <input type="number" step="0.01" lang="en-150" [(ngModel)]="landSize"> <b>Ha</b>
      <span class="error text-danger" *ngIf="landSize && landSize < 0.25">
        <p>% Surface doit être plus que 0,25</p>
      </span>
    </div>
  </div>
  <br>
    
  <br>
  <div class="row">
    <div class="col-2">
      Valeur Assurée/ha:
    </div>
    <div class="col-4">
      <span>{{getTotalCoverage()|number}}</span> <b *ngIf="getTotalCoverage()>0">FCFA</b>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      Prime totale:
    </div>
    <div class="col-4">
      <span>{{getTotalPremium()| number}}</span> <b *ngIf="getTotalPremium()>0">FCFA</b>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2">
      Montant à payer (prime + taxe):
    </div>
    <div class="col-4">
      <span>{{getTotalPremiumWithTax() | number:''}}</span> <b *ngIf="getTotalPremiumWithTax()>0">FCFA</b>
    </div>
  </div>
</div>
